<mat-card>
  <form [formGroup]="configureGroup" (submit)="submitGroup()">
    <div class="one-control">
      <mat-label>Виберіть максимально допустиму кількість цифр</mat-label>

      <mat-form-field appearance="legacy">
        <mat-select formControlName="maxNumbers">
          <mat-option *ngFor="let value of availableSelectValues" [value]="value">
            {{value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="one-control">
      <mat-label>Виберіть кількість прикладів яка має бути згенерована</mat-label>

      <mat-form-field appearance="legacy">
        <mat-select formControlName="exerciseCount">
          <mat-option *ngFor="let value of availableSelectValues" [value]="value">
            {{value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="one-control">
      <mat-label>Виберіть кількість дій які має зробити учень</mat-label>

      <mat-form-field appearance="legacy">
        <mat-select formControlName="amountOfActions">
          <mat-option *ngFor="let value of availableSelectValues" [value]="value">
            {{value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="one-control">
      <mat-slide-toggle formControlName="allowLowerRankNumbers">Допускати менші числа</mat-slide-toggle>
    </div>

    <div class="buttons-row">
      <button type="submit" mat-raised-button color="accent">Згенерувати</button>
    </div>

  </form>
</mat-card>
